{% extends "base.html" %}

{% block content %}

<div class="starter-template">
  <h1>Сервис для преобразования excel-файлов в JSON</h1>
  <hr><br>
  <div>
    <form enctype="multipart/form-data" method="post" id="form">
      <div class="form-group">
        <label for="fileUpload">Выберите файл для загрузки</label>
        <input type="file" class="form-control-file" id="fileUpload" name="file" required><br>
        <button type="submit" class="btn btn-primary">Отправить</button>
      </div>
    </form>
  </div>
  <div id="warning"></div>
  <br><br>
  <div>
    <h3>Статус обработки файла</h3>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>ID Celery задачи</th>
          <th>Статус</th>
        </tr>
      </thead>
      <tbody id="tasks">
      </tbody>
    </table>
  </div>
</div>

{% endblock %}